<div class="main-body">
  <h1 class="text-center">About</h1>
  <br /><hr /><br />
  <div class="row about-me-overview">
    <div class="col-md-6 about-me-img">
      <img src="images/me.jpg" alt="Picture of me" class="center-block">
    </div>
    <div class="col-md-6 d-flex align-items-center">
      <ul class="list-unstyled">
        <li>Name: Martin Shields</li>
        <li>Location: Newcastle, England</li>
        <li>Hobbies: Walking, Gaming, Programming, Cooking</li>
        <li>Languages: C#, HTML, CSS/SCSS, JS, NODE, .NET MVC</li>
        <li>Other Skills: Gulp, Agile/Waterfall, MySql, Git, SOLID,
        Entity Framework, Bootstrap, Hybrid/Android Development, Unity, TDD, BDD</li>
      </ul>
    </div>
  </div>
  <p>
    Hello! My name is Martin Shields and I am a software developer. I am
    currently living in Newcastle, England and enjoy a range of different
    things such as cooking, gaming, learning new programming concepts and
    and walking my dog. I am married and my pets include a Yorkie-Poo dog
    called Winston and also a russain tortoise called Burt.
  </p>
  <p>
    I have a real passion for technology and especially software. I have been
    programming since I was in my early 20s taking up web development as a
    hobby initially in order to create a website for someone. Since doing that
    website I became hooked and have always strived to learn more about
    software development. I spend some of my own time on the weekends and
    sometimes at night during the week developing my skills as well as learning
    new concepts one including using my existing knowledge of c# with
    Unity in order to learn game development. I also have a Raspberry Pi
    and are keen to start some electronics projects with that as soon as I
    get some time.
  </p>
  <p>
    After making the website, I knew I wanted to do
    a development role as a career and therfore looked into going to
    university. I had a few offers but ended up with going to the
    University of Sunderland doing a degree in BSc Computing. In this
    course I developed some existing skills such as team working,
    communications skills, HTML and CSS but also had the opportunity to
    learn new skills such as C#, JavaScript, Node JS, a little PHP and
    also Android development. As well as learning new skills we learned
    about OOP concepts and different software methodologies such as
    waterfall and agile. I ended up graduating from my course obtaining a
    First Class with Honors which I feel was down to my own hard work and
    commitment.
  </p>
</div>
