<div class="main-body">
  <h1 class="text-center">Contact</h1>
  <br /><hr /><br />
  <p>
    If you wish to contact me you can do so the following ways:
  </p>
  <div class="row">
    <div class="col-md-12 col-lg-8 col-xl-6">
      <ul class="list-group flex-column">
        <li class="list-group-item">
          Email: <a href="mailto:martin.shields@hotmail.com">
             &nbsp;martin.shields@hotmail.com</a>
        </li>
        <li class="list-group-item">
          LinkedIn: <a href="https://www.linkedin.com/in/martin-shields-603068a7"
          target="_blank">&nbsp;My Public Profile</a>
        </li>
      </ul>
    </div>
  </div>
</div>
