<h1 class="text-center">Welcome To My Portfolio!</h1>
<br /><hr /><br />
<p class="text-justify">
  Hello and welcome! My name is Martin Shields and I have developed
  this website so that I can keep track of my own development. I am a
  software developer and I have a wide range of skills and knowledge on
  a number of different programming languages such as C# and JavaScript.
</p>
<p class="text-justify">
  Here you will be able to find out more about me and the different
  projects I have contribtued to both in my time at University and in
  my own time. You can find that information by clicking on the "Uni Work"
  and "Projects" links above.
</p>
<p class="text-justify">
  If you would like to get to know more about myself, feel free to click
  on the "About" link above. Alternatively, if you would like to contact
  me click on the "Contact" link where you can find information on how I
  can be reached.
</p>
<p class="text-justify">
  Thanks for stopping by!
</p>
