<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Use Internet Explorer 9 Standards mode -->
    <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
    <title>Martin Shields - Portfolio</title>
    <!-- font files -->
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Quicksand:300,400,500"
    rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-toggleable-sm">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button"
        data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false"
        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand text-center" href="/">Martin Shields<br />
          Portfolio</a>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul id="navLinks" class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/uni">Uni Work</a>
              <ul hidden>
                <li><a class="nav-link" href="/uni/dissertation.html">Dissertation</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projects/index.html">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container container-main">
      {{{body}}}
    </div>
    <!-- JS Files. -->
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/tether.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/pageLoader.js"></script>
  </body>
</html>
