<div class="main-body gallery">
  <h1 class="text-center">{{title}}</h1>
  <br /><hr />
  <div class="row">
    {{#each item.projects}}
    <div class="col-lg-4 col-md-6">
      <a href="/uni/{{this._id}}" class="clickable-link">
        <img src="{{this.img}}"
        alt="Picture of me" class="center-block"><br />
        {{this.title}}
      </a>
    </div>
    {{/each}}
  </div>
</div>
