<div class="main-body gallery">
  <h1 class="text-center">Uni Work</h1>
  <br /><hr />
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <a href="/uni/dissertation" class="clickable-link">
        <img src="#{{item.img}}"
        class="center-block"><br />
        {{item.title}}
      </a>
    </div>
  </div>
</div>
