<div class="main-body gallery">
  <h1 class="text-center">Uni Work</h1>
  <br /><hr />
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <a href="uni/dissertation.html" class="clickable-link">
        <img src="https://img.youtube.com/vi/FYvno44PK-Y/mqdefault.jpg"
        alt="Picture of me" class="center-block"><br />
        Database Administration Tool - Dissertation
      </a>
    </div>
  </div>
</div>
